version: "3.9"

services:
  db:
    image: postgres:16-alpine
    ports:
      - "5483:5432"
    environment:
      POSTGRES_DB: beroboard
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d beroboard"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

networks:
  internal:
    driver: bridge
