name: CI - Main Branch

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Lint, Type Check & Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Biome linter
        run: bun run check

      - name: Check TypeScript types
        run: bun run check-types

      - name: Run all tests
        run: bun test